{% extends "base.html" %}
{% block head %}

  <title>WikiTimeline</title>
  
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='timeline/ui/jquery-ui.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='timeline/src/css/graph.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='timeline/src/css/detail.css') }}">
  <link type="text/css" rel="stylesheet" href="src/css/legend.css">
  <link type="text/css" rel="stylesheet" href="src/css/estilo.css">

  <script src="{{ url_for('static', filename='timeline/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='timeline/jquery/jquery-ui.min.js') }}"></script>

  <script src="{{ url_for('static', filename='timeline/js/d3/d3.min.js"></script>
  <script src="{{ url_for('static', filename='rickshaw/rickshaw.min.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Class.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Compat.ClassList.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.Renderer.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.Renderer.Area.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.Renderer.Line.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.Renderer.Bar.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.Renderer.ScatterPlot.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.RangeSlider.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.HoverDetail.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.Annotate.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.Legend.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.Axis.Time.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.Behavior.Series.Toggle.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.Behavior.Series.Order.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.Behavior.Series.Highlight.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.Smoother.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.Unstacker.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Fixtures.Time.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Fixtures.Number.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Fixtures.Color.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Fixtures.RandomData.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Color.Palette.js') }}"></script>
  <script src="{{ url_for('static', filename='rickshaw/Rickshaw.Graph.Axis.Y.js') }}"></script>

{% endblock %}

{% block content %}
<div id="content">
  <h1>Linha do tempo da Wikipédia</h1>
  <h2>Versão ß</h2>
  <div id="side_panel"> 
  <section>
      <div id="legend"></div>
    </section>
    <section>
      <form id="side_panel" name="events_selector">
	Geral: <input type="radio" name="evento" value="geral" onClick="switch_events(this.value)"> <br/>
	Vandalismo: <input type="radio" name="evento" checked="" value="vandalismo" onClick="switch_events(this.value)"> <br/>	
	Estatutos: <input type="radio" name="evento" value="estatuto" onClick="switch_events(this.value)"> <br/>
	Construção de artigos: <input type="radio" name="evento" value="construcao" onClick="switch_events(this.value)"> <br/>
	Comunidade: <input type="radio" name="evento" value="comunidade" onClick="switch_events(this.value)"> <br/>
      </form>
    </section>
  </div>
  <div id="chart_container">
    <div id="chart"></div>
    <div id="timeline"></div>
    <div id="slider"></div>
  </div>
</div>

<!-- The source code goes here: -->
<script src="{{ url_for('static', filename='timeline/js/main.js') }}"></script>

{% endblock %}
